In [3]:
import pandas as pd

In [24]:
df = pd.read_csv('table.csv')
df

                   cache      id
0       LfJRTf1jOzll7chy  151550
1       tsDqYXtvPkd-LoZy  500333
2       hGPf8k0Ixp_ANvy6  970133
3       7Tc9S!3u7DeQEDkX  777699
4       B_xgHecEHrvvVPwB  447845
...                  ...     ...
499995  _UdxsbPO7ZP5xtXl  888182
499996  p!glKVT4jn6Mb5NI  140156
499997  ip5UdhRhhp2g0KRW  472528
499998  nZvc!aEaBHBTMonr  808924
499999  mAAsXEyoP09g_h8j  427126

[500000 rows x 2 columns]

In [33]:
unique_ids = df['id'].value_counts()
unique_ids

id
251203    6
544664    6
501179    6
336399    6
808645    6
         ..
47018     1
787258    1
912083    1
769917    1
427126    1
Name: count, Length: 393548, dtype: int64

In [36]:
three_times = unique_ids[unique_ids == 3]
three_times

id
374572    3
52027     3
237956    3
766796    3
783919    3
         ..
211694    3
108474    3
557820    3
95914     3
320099    3
Name: count, Length: 12511, dtype: int64

In [26]:
repeats = unique_ids.value_counts()
repeats

count
1    303441
2     75779
3     12511
4      1630
5       174
6        13
Name: count, dtype: int64